@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    color: #000;
    font-family: 'Lato', sans-serif;
}

#logo {
    font-weight: bold;
    font-size: 24px;
    color: #404CF0;
    margin: 0 auto;
    display: block;
}

#logo img {
    width: 182px;
    object-fit: cover;
}

#header > p {
    margin: 0;
    line-height: 34px;
}

#wrapper-content {
    width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.horizon {
    width: 100%;
    height: 2px;
    background-color: lightgray;
}

#footer {
    font-size: 14px;
}

#footer p {
    color: lightgray;
}

#link-confirm {
    cursor: pointer;
    box-sizing: border-box;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: #404CF0;
    border: none;
    font-size: 18px;
    color: #fff1f1;;
    font-weight: 500;
    margin: 12px auto;
    outline: none;
    width: 250px;
    text-decoration: none;
    text-align: center;
}

#pinme-team {
    margin-top: 18px;
}

.small-text {
    color: lightgrey;
    font-size: 16px;
}
